body{
    margin: 0;
    background-color: #333333;
}
.flex-container{
    display: flex;
    background-color: dodgerblue;
    flex-grow: row wrap;
    justify-content: space-between;
}

.flex-container > header, li{
    background-color: #f1f2f1;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 25px;
    list-style-type: none;
    border-radius: 1em;
}

.flex-container header{
    width: 900px;
}

a{
    text-decoration:none;
    color:#000;
}
a:hover{
    background-color: indigo;
    color: lawngreen;
}
